In [2]:
import pandas as pd

In [19]:
df = pd.read_csv ("fulltimeAL.csv")

In [20]:
df

,position,company,description,numreview,location
0,Development Director,ALS TDI,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"<span id=""job_summary"" class=""summary""><div>Jo...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,"<span id=""job_summary"" class=""summary""><p><b>D...",44 reviews,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,"<span id=""job_summary"" class=""summary""><div><h...",550 reviews,"Atlanta, GA"
...,...,...,...,...,...
264,Systems Software Engineer,Emory University,"<span id=""job_summary"" class=""summary""><div><h...",550 reviews,"Atlanta, GA"
265,Digital Marketing Consultant - Automotive Reta...,CDK Global,"<span id=""job_summary"" class=""summary""><div><p...",230 reviews,"Atlanta, GA 30301"
266,Senior Packaging Engineer I - PET,The Coca-Cola Company,"<span id=""job_summary"" class=""summary""><b>Job ...","7,236 reviews","Atlanta, GA 30301"
267,"Account Executive Fraud Solutions, Acquiring E...",Payments & Cards Network,"<span id=""job_summary"" class=""summary""><div><h...",NaN,"Atlanta, GA"
268,Junior DevOps Software Engineer – Secureworks ...,DELL,"<span id=""job_summary"" class=""summary""><div><p...","8,380 reviews","Atlanta, GA"

In [6]:
df.company

0                       ALS TDI
1            The Hexagon Lavish
2                Xpert Staffing
3                Operation HOPE
4              Emory University
                 ...
264            Emory University
265                  CDK Global
266       The Coca-Cola Company
267    Payments & Cards Network
268                        DELL
Name: company, Length: 269, dtype: object

In [23]:
filter_row = (df['position']) == "Data Scientist"
df [filter_row]

,position,company,description,numreview,location
2,Data Scientist,Xpert Staffing,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Atlanta, GA"
15,Data Scientist,Cotiviti,"<span id=""job_summary"" class=""summary""><div><p...",104 reviews,"Atlanta, GA"
18,Data Scientist,Relus Cloud,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Atlanta, GA"
19,Data Scientist,Inspire Brands,"<span id=""job_summary"" class=""summary"">This po...",NaN,"Atlanta, GA"
22,Data Scientist,Norfolk Southern Corp,"<span id=""job_summary"" class=""summary""><div><d...",722 reviews,"Atlanta, GA 30309"
25,Data Scientist,AirSage,"<span id=""job_summary"" class=""summary"">AirSage...",NaN,"Atlanta, GA"
34,Data Scientist,SalesLoft,"<span id=""job_summary"" class=""summary"">We are ...",7 reviews,"Atlanta, GA"
35,Data Scientist,McKesson,"<span id=""job_summary"" class=""summary""><div><d...","3,558 reviews","Atlanta, GA 30329"
36,Data Scientist,The Intersect Group,"<span id=""job_summary"" class=""summary""><p>Resp...",29 reviews,"Atlanta, GA 30328"
38,Data Scientist,OM Partners,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"Atlanta, GA"
161,Data Scientist,"Xpect SVC, LLC","<span id=""job_summary"" class=""summary""><div><p...",NaN,"Atlanta, GA 30326"
208,Data Scientist,Matrix Resources,"<span id=""job_summary"" class=""summary""><div>PO...",58 reviews,"Atlanta, GA 30328"
224,Data Scientist,"Elavon, Inc.","<span id=""job_summary"" class=""summary""><div><d...",233 reviews,"Atlanta, GA 30328"
229,Data Scientist,Cardinal Solutions,"<span id=""job_summary"" class=""summary"">What Da...",2 reviews,"Atlanta, GA"
231,Data Scientist,Operation HOPE,"<span id=""job_summary"" class=""summary""><p><b>D...",44 reviews,"Atlanta, GA 30303"
233,Data Scientist,The Coca-Cola Company,"<span id=""job_summary"" class=""summary""><b>Job ...","7,236 reviews","Atlanta, GA 30301"
238,Data Scientist,U.S. Bank,"<span id=""job_summary"" class=""summary""><div><d...","5,416 reviews","Atlanta, GA"
239,Data Scientist,Catalina Marketing,"<span id=""job_summary"" class=""summary""><div><p...",78 reviews,"Atlanta, GA"

In [25]:
df_index = df.set_index ("position",inplace = False) #Set index

In [26]:
df_index

,company,description,numreview,location
position,,,,
Development Director,ALS TDI,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Atlanta, GA 30301"
An Ostentatiously-Excitable Principal Research Assistant to Chief Scientist,The Hexagon Lavish,"<span id=""job_summary"" class=""summary""><div>Jo...",NaN,"Atlanta, GA"
Data Scientist,Xpert Staffing,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Atlanta, GA"
Data Analyst,Operation HOPE,"<span id=""job_summary"" class=""summary""><p><b>D...",44 reviews,"Atlanta, GA 30303"
Assistant Professor -TT - Signal Processing & Machine Learning,Emory University,"<span id=""job_summary"" class=""summary""><div><h...",550 reviews,"Atlanta, GA"
...,...,...,...,...
Systems Software Engineer,Emory University,"<span id=""job_summary"" class=""summary""><div><h...",550 reviews,"Atlanta, GA"
Digital Marketing Consultant - Automotive Retail - Atlanta,CDK Global,"<span id=""job_summary"" class=""summary""><div><p...",230 reviews,"Atlanta, GA 30301"
Senior Packaging Engineer I - PET,The Coca-Cola Company,"<span id=""job_summary"" class=""summary""><b>Job ...","7,236 reviews","Atlanta, GA 30301"
"Account Executive Fraud Solutions, Acquiring Eastern Region",Payments & Cards Network,"<span id=""job_summary"" class=""summary""><div><h...",NaN,"Atlanta, GA"
"Junior DevOps Software Engineer – Secureworks – Atlanta, GA, Austin, TX or Remote",DELL,"<span id=""job_summary"" class=""summary""><div><p...","8,380 reviews","Atlanta, GA"

In [27]:
df_index.loc["Data Scientist"]

,company,description,numreview,location
position,,,,
Data Scientist,Xpert Staffing,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Atlanta, GA"
Data Scientist,Cotiviti,"<span id=""job_summary"" class=""summary""><div><p...",104 reviews,"Atlanta, GA"
Data Scientist,Relus Cloud,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Atlanta, GA"
Data Scientist,Inspire Brands,"<span id=""job_summary"" class=""summary"">This po...",NaN,"Atlanta, GA"
Data Scientist,Norfolk Southern Corp,"<span id=""job_summary"" class=""summary""><div><d...",722 reviews,"Atlanta, GA 30309"
Data Scientist,AirSage,"<span id=""job_summary"" class=""summary"">AirSage...",NaN,"Atlanta, GA"
Data Scientist,SalesLoft,"<span id=""job_summary"" class=""summary"">We are ...",7 reviews,"Atlanta, GA"
Data Scientist,McKesson,"<span id=""job_summary"" class=""summary""><div><d...","3,558 reviews","Atlanta, GA 30329"
Data Scientist,The Intersect Group,"<span id=""job_summary"" class=""summary""><p>Resp...",29 reviews,"Atlanta, GA 30328"
Data Scientist,OM Partners,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"Atlanta, GA"
Data Scientist,"Xpect SVC, LLC","<span id=""job_summary"" class=""summary""><div><p...",NaN,"Atlanta, GA 30326"
Data Scientist,Matrix Resources,"<span id=""job_summary"" class=""summary""><div>PO...",58 reviews,"Atlanta, GA 30328"
Data Scientist,"Elavon, Inc.","<span id=""job_summary"" class=""summary""><div><d...",233 reviews,"Atlanta, GA 30328"
Data Scientist,Cardinal Solutions,"<span id=""job_summary"" class=""summary"">What Da...",2 reviews,"Atlanta, GA"
Data Scientist,Operation HOPE,"<span id=""job_summary"" class=""summary""><p><b>D...",44 reviews,"Atlanta, GA 30303"
Data Scientist,The Coca-Cola Company,"<span id=""job_summary"" class=""summary""><b>Job ...","7,236 reviews","Atlanta, GA 30301"
Data Scientist,U.S. Bank,"<span id=""job_summary"" class=""summary""><div><d...","5,416 reviews","Atlanta, GA"
Data Scientist,Catalina Marketing,"<span id=""job_summary"" class=""summary""><div><p...",78 reviews,"Atlanta, GA"